 <div class="container">
   <div class="row" style="padding: 10px;padding-left:15px;padding-top:1px;">
       <div class="panel panel-default">
         <div class="panel-heading" style="background: #cd665f; color: #fff; font-size:13px;">Product List</div>
           <div class="panel-body" style="background: #eeeeee;">
              <% @categories.each_slice(4) do |group| %>
              <div class="row">
                <% group.each do |category| %>
                <div class="col-md-3" style="margin-bottom: 10px;">
                <% headshot = category.category_pictures.where("image_type='headshot'").first %>
                <% if headshot && headshot.picture %>
                <%= link_to(image_tag(headshot.picture.url, :size => "200x200"), category_path(category), {:target => "_blank"}) %>
                <% end %>
                <div style="background:#cd665f;width:200px;padding:5px;text-align:center;font-weight:bold"><%= link_to category.name, category_path(category), {:style=>"color:#ffffff;", :target => "_blank"} %></div>
                </div>
                <% end %>
              </div>
              <% end %>
           </div>
        </div>
    </div>
  </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-4" style="margin-right:0px;padding-right:0px;">
          <div class="panel panel-default" style="border-radius: 0px;background:#e46c0b">
            <div class="panel-heading" style="background:#e46c0b">
              <%= link_to "Bronze Alloys", materials_path, :target => "_blank" %><i class="fa fa-check-square" style="margin-left:10px;"></i>
              <%= image_tag "card_right_header.png", :style => "position:absolute;right:1px;top:1px;width:30px;" %>
            </div>
            <div class="panel-body">
              <ul class="list-group">
                <% MaterialItem.order("id desc").limit(4).each do |m| %>
                <li class="list-group-item" style="background:#e46c0b;border:0px;"><%= link_to m.full_name.truncate(30), material_material_item_path(m.material, m), :target => "_blank" %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-4" style="margin-right:0px;padding-right:0px;">
          <div class="panel panel-default"  style="border-radius: 0px;background:#f79647">
            <div class="panel-heading" style="background:#f79647">
              <%= link_to "Catalogues", products_path, :target => "_blank" %><i class="fa fa-cubes" style="margin-left:10px;"></i>
              <%= image_tag "card_right_header.png", :style => "position:absolute;right:1px;top:1px;width:30px;" %>
            </div>
            <div class="panel-body">
              <ul class="list-group">
                <% Category.order("id desc").limit(4).each do |c| %>
                <li class="list-group-item" style="background:#f79647;border:0px;"><%= link_to c.name.truncate(30), category_path(c), :target => "_blank" %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="panel panel-default"  style="border-radius: 0px;background:#ffc452">
            <div class="panel-heading" style="background:#ffc452">
              <%= link_to "News", news_index_path, :target => "_blank" %><i class="fa fa-rss-square" style="margin-left:10px;"></i>
              <%= image_tag "card_right_header.png", :style => "position:absolute;right:16px;top:1px;width:30px;" %>
            </div>
            <div class="panel-body">
              <ul class="list-group" style="background:#ffc452;border:0px;">
                <% News.order("id desc").limit(4).each do |news| %>
                <li class="list-group-item" style="background:#ffc452;border:0px;"><%= link_to news.name.truncate(30), news_path(news), :target => "_blank" %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
