<div class="container">
  <div class="row" style="padding: 10px;padding-left:15px;">
      <div class="panel panel-default">
         <div class="panel-heading" style="background: #cd665f; color: #fff; font-size:14px;">Sitemap</div>
         <div class="panel-body" style="background: #eeeeee;">
           <div class="list-group list-group-root">
             <%= link_to "Home", root_path, :class => "list-group-item" %>
             <div class="list-group">
               <%= link_to "Products", products_path, :class => "list-group-item" %>
               <div class="list-group">
                 <% Category.all.each do |c| %>
                   <%= link_to c.name, category_path(c), :class => "list-group-item" %>
                 <% end %>
               </div>
               <%= link_to "Bronze Alloys", materials_path, :class => "list-group-item" %>
               <div class="list-group">
                 <% Material.all.each do |m| %>
                 <div class="list-group-item">
                   <%= (m.name + ":&nbsp;").html_safe %>
                   <% m.material_items.each do |mi| %>
                     <%= link_to mi.name, material_material_item_path(m, mi) %>
                   <% end %>
                 </div>
                 <% end %>
               </div>
               <%= link_to "About Us", about_us_path, :class => "list-group-item" %>
               <%= link_to "News", news_index_path, :class => "list-group-item" %>
               <%= link_to "Q & C", qc_path, :class => "list-group-item" %>
               <%= link_to "Contact", contact_path, :class => "list-group-item" %>
             </div>
           </div>
         </div>
      </div>
  </div>
</div>
