<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
<table>
  <tr>
    <td>
      Company
    </td>
    <td>
      <%= @message.company %>
    </td>
  </tr>
  <tr>
    <td>
      Country
    </td>
    <td>
      <%= @message.country %>
    </td>
  </tr>
   <tr>
    <td>
      Address
    </td>
    <td>
      <%= @message.address %>
    </td>
  </tr>
  <tr>
    <td>
      Zip code
    </td>
    <td>
      <%= @message.zip_code %>
    </td>
  </tr>
  <tr>
    <td>
      Gender
    </td>
    <td>
      <%= @message.gender %>
    </td>
  </tr>
  <tr>
    <td>
      Name
    </td>
    <td>
      <%= @message.name %>
    </td>
  </tr>
  <tr>
    <td>
      Email
    </td>
    <td>
      <%= @message.email %>
    </td>
  </tr>
  <tr>
    <td>
      Email 2
    </td>
    <td>
      <%= @message.email_2 %>
    </td>
  </tr>
  <tr>
    <td>
      Telephone
    </td>
    <td>
      <%= @message.telephone %>
    </td>
  </tr>
  <tr>
    <td>
      Subject
    </td>
    <td>
      <%= @message.subject %>
    </td>
  </tr>
  <tr>
    <td>
      Message
    </td>
    <td>
      <%= @message.body %>
    </td>
  </tr>
</table>
  </body>
</html>
