<%= form_for(@category_picture) do |f| %>
  <% if @category_picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category_picture.errors.count, "error") %> prohibited this category_picture from being saved:</h2>

      <ul>
      <% @category_picture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :category_id %><br>
    <%= f.number_field :category_id %>
  </div>
  <div class="field">
    <%= f.label :picture_id %><br>
    <%= f.number_field :picture_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
