 <div class="container">
   <div class="row" style="padding: 10px;padding-left:15px;">
       <div class="panel panel-default">
         <div class="panel-heading" style="background: #cd665f; color: #fff; font-size:14px;"><%= @category.name %></div>
           <div class="panel-body" style="background: #eeeeee;">
           <% banner = @category.category_pictures.where("image_type='banner'").first %>
           <% if banner %>
             <%= image_tag banner.picture.url, :style => "width: 923px" %>
           <% end %>
           </div>
         </div>
   </div>
   <div class="row">
	   <div class="col-md-12">
	   <%= @category.description.html_safe if @category.description %>
	   </div>
   </div>
   <% @category.products.each_slice(3) do |group| %>
   <div class="row">
   <% group.each do |product| %>
      <div class="col-md-4">
             <h3><%= product.name %></h3>
		<div class="row">
               <div class="col-md-6" style="padding-right:0px;">
                 <div class="thumbnail" style="border:0px;">
			<% pic = product.pictures.first %>
			<% if pic %>
		      <%= image_tag pic.url, :style=> "border-left: 3px solid #812215;margin-left:0px;", :size => "150x150" %>
		      <% end %>

               </div>
               </div>
               <div class="col-md-6" style="padding:0px;font-size:6px;padding-left:5px;">

                <div><i class="fa fa-circle icon-resize-small" style="color:#812215"></i>&nbsp;Material</div>
                <div>
                <% if product.description %>
                   <%= product.description.html_safe %>
                <% end %>
                <div style="margin-top:5px;"><i class="fa fa-circle icon-resize-small" style="color:#812215"></i>&nbsp;Structures</div>
                <ul class="list-group">
                      <% product.attachment_files.each do |f| %>
                      <% f.name =~ /^(.*)\.(.*)$/ %>
                      <% filename = $1 %>
                      <% ext = $2 %>
			  <li class="list-group-item" style="border:0px;padding:2px;">
			    <span class="badge"><%= ext %></span>
			    <%= link_to filename, f.url %>
			  </li>
			  <% end %>
			</ul>
                </div>
               </div>
		</div>
      </div>
    <% end %>
   </div>
   <% end %>
 </div>
