<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <meta name="Keywords" content="<%= @meta_keywords %>">
  <meta name="Description" content="<%= @meta_description %>">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
  <body>
    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "Sino Bronze MFG Co., Ltd.", root_path, :class => "navbar-brand" %>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav" style="float:right">
            <li><%= link_to image_tag('/images/home.jpg', :size => "30x30", :style => "margin-top:10px;"), root_path, :style => "padding:0px" %></li>
            <%= content_tag(:li, link_to("Products", products_path)) %>
            <li><%= link_to "Bronze Alloys", materials_path %></li>
            <li><%= link_to "About", about_us_path %></li>
            <li><%= link_to("News", news_index_path) %></li>
            <li><%= link_to "Q & C", qc_path %></li>
            <li><%= link_to "Contact", contact_path %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


    <div class="container">
    <div class="row">
      <div class="col-sm-3" style="padding-right:0px;">
      <div><%= image_tag "logo.png", :style => "width:230px;height:110px" %></div>
      <div>
         <%= form_tag('/products', method: 'get') do %>
         <input type="text"  style="width:175px; display:inline;margin-right:5px;" class="form-control" placeholder="Enter Product" name="q"/><input class="btn btn-primary btn-sm" type="submit" value="search" />
         <% end %>
      </div>
      </div>
      <div class="col-sm-9" style="padding-left:<%= @user_agent == "firefox" ? '7px' : '11px' %>;padding-right:0px;"> 
        <%= image_tag "header.png", :size => "715x142" %>
      </div>
    </div>
    </div>
      <%= yield %>
<div style='height:100px;'></div>
<div class="navbar navbar-fixed-bottom" style="background:#812215">
  <div class="container" style="color:#ffffff">
    <div class="row">
      <div class="col-sm-4">
        <h3 style="border-bottom: 1px solid #ffffff;font-size:14px;">Navigation</h3>
        <ul style="list-style-type:none;padding-left:0px;">
          <li><%= link_to "Home", root_path, :style => "color:#ffffff" %></li>
          <li><%= link_to "About Us", about_us_path, :style => "color:#ffffff" %></li>
          <li><%= link_to("News", news_index_path, :style => "color:#ffffff") %></li>
          <li><%= link_to "Contact", contact_path, :style => "color:#ffffff" %></li>
        </ul>
      </div>
      <div class="col-sm-4">
        <h3 style="border-bottom: 1px solid #ffffff;font-size:14px;">Products</h3>
      </div>
      <div class="col-sm-4">
        <h3 style="border-bottom: 1px solid #ffffff;font-size:14px;">Contact</h3>
        <ul style="list-style-type:none;padding-left:0px;">
          <li><i class="fa fa-envelope"></i> sales@sinobronze.com</li>
          <li><i class="fa fa-phone"></i> 0086 28 8669 3910</li>
          <li><i class="fa fa-fax"></i> 0086 28 8625 0130</li>
        </ul>
      </div>
    </div>
  </div>
</div>
  </body>

  </body>
</html>
