<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <meta name="Keywords" content="<%= @meta_keywords %>">
  <meta name="Description" content="<%= @meta_description %>">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style>
    .panel-default > .panel-heading{
font-family:verdana,arial,helvetica,sans-serif;
  }
  </style>
</head>
  <body>
    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top" style="min-height: 40px;margin-bottom: 0px;">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div style="padding-top:5px;">
          <%= form_tag('/products', method: 'get') do %>
         <input type="text"  style="width:170px; display:inline;margin-right:5px;height:30px" class="form-control" placeholder="<%= t('enter_product') %>" name="q"/><input class="btn btn-primary btn-sm" type="submit" value="<%= t('search') %>" style="margin-top:-5px" />
         <% end %>
          </div>
        </div>
        <div class="navbar-collapse collapse select_language">
          <% if params[:locale].nil? || params[:locale] == "en" %>
          <%= link_to "中文版", "/cn" %>
          <% else %>
          <%= link_to "English", "/" %>
          <% end %>
        </div>
      </div>
    </nav>


    <div class="container">
    <div class="row">
      <div class="col-sm-12">
<div id="my-pics" class="carousel slide" data-ride="carousel" style="width:1100x;margin:auto;">
<% @flash_pictures ||= [] %>
<!-- Indicators -->
<ol class="carousel-indicators" style="display:none">
<% 0.upto(@flash_pictures.count - 1) do |index| %>
<li data-target="#my-pics" data-slide-to="<%= index %>" class="<%= index == 0 ? 'active' : '' %>"></li>
<% end %>
</ol>
<!-- Content -->
<div class="carousel-inner" role="listbox">

<% @flash_pictures.each_with_index do |f, index| %>
<div class="item<%= index == 0 ? ' active' : '' %>">
<%= image_tag(f.picture.url, :size => "1100x200") %>
</div>
<% end %>

</div>

<!-- Previous/Next controls -->
<a class="left carousel-control" href="#my-pics" role="button" data-slide="prev">
<span class="icon-prev" aria-hidden="true"></span>
<span class="sr-only">Previous</span>
</a>
<a class="right carousel-control" href="#my-pics" role="button" data-slide="next">
<span class="icon-next" aria-hidden="true"></span>
<span class="sr-only">Next</span>
</a>

</div>
      </div>
    </div>
    </div>
    <div class="container">
      <div class="row myrow" style="padding-bottom:3px;">
        <div id="navbar" class="navbar-collapse collapse" style="background: #8a8a8a">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#"><%= t('menus.product_and_catalogue') %></a></li>
              <li><%= link_to t('menus.company_and_contact'), about_us_path, {:target => "_blank"} %></li>
              <li><%= link_to t('menus.news_and_exhibitions'), news_index_path, {:target => "_blank"} %></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="./">Default <span class="sr-only">(current)</span></a></li>
              <li><a href="../navbar-static-top/">Static top</a></li>
              <li><a href="../navbar-fixed-top/">Fixed top</a></li>
            </ul>
          </div>
      </div>
<div class="row myrow" style="padding-bottom:0px;vertical-align:top;margin-bottom:-5px;">
<%= image_tag "/images/line.jpg", :style=>"width:1070px;margin-top:-10px;"%>
</div>
    </div>
    <div class="container">
      <div class="row myrow">
        <div class="col-sm-3 mysm3 cat_col" style="margin-right:0px;padding-right:0px;min-height: 300px; background-color: #f2f2f2;">

        </div>
        <div class="col-sm-9 mysm9" style="margin-right:0px;padding-right:0px;">
          <div class="panel panel-default"  style="border-radius: 0px;background:#feffff">
            <div class="" style="background:#fddb02;height:6px"></div>
            <div class="" style="background:#fff;height:5px"></div>
              <%= yield %>
          </div>
        </div>
      </div>
    </div>
<div class="navbar navbar-fixed-bottom footer">
  <div class="container" style="color:#fff;">
    <div class="row" style="font-size:14px;">
      <div class="col-sm-2" style="padding-right:0px">
        <div style="padding-top:20px;">
          <div><%= link_to t('menus.company_and_contact'), about_us_path, {:target => "_blank"} %></div>
        </div>
      </div>
            <div class="col-sm-2" style="padding-right:0px">
        <div style="padding-top:20px;">
          <div><%= t('menus.product_and_catalogue') %></div>
        </div>
      </div>
            <div class="col-sm-2" style="padding-right:0px">
        <div style="padding-top:20px;">
          <div><%= t('menus.news_and_exhibitions') %></div>
        </div>
      </div>
            <div class="col-sm-2" style="padding-right:0px">
        <div style="padding-top:20px;">
          <div><%= t('menus.materials_and_standards') %></div>
        </div>
      </div>
            <div class="col-sm-2" style="padding-right:0px">
        <div style="padding-top:20px;">
          <div><%= t('menus.sct_solutions') %></div>
        </div>
      </div>
            <div class="col-sm-2" style="padding-right:0px">
        <div style="padding-top:20px;">
          <div><%= t('menus.site_maps') %></div>
        </div>
      </div>
    </div>
    <div class="row">
    <div style="height:3px;background:#fff;width:500px;margin-left:200px;margin-top:20px;"></div>
    <div style="margin-left: 210px;">
    <span style="font-size:30px;">
    + Media
    </span>
    <%= image_tag "/images/media-skype.png" %><%= image_tag "/images/media-facebook.png" %><%= image_tag "/images/media-twitter.png" %><%= image_tag "/images/media-whatsapp.png" %><%= image_tag "/images/medoa-youtube.png" %><%= image_tag "/images/media-wechat.png" %>
    </div>
    </div>
    <div class="row">
    <hr>
    <div style="text-align: center">
    SPECIAL CUTTING TOOLS CO., LTD. &reg; All Rights Reserved 2016
    </div>
    </div>
  </div>

</div>
</div>
  <%= javascript_include_tag 'scroll_top/arrow92', 'data-turbolinks-track' => true %>
<script>
// Initialize tooltip component
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

// Initialize popover component
$(function () {
  $('[data-toggle="popover"]').popover()
})
</script>
  </body>
</html>
<div id="topcontrol" title="Scroll to Top" style="position: absolute; left: 160px; top: -50px; opacity: 1; cursor: pointer; z-index: 99999;"><img src="/images/backtotop.png"></div>
        <div style="position:absolute;left:160px;top:-154px;"><a target="_blank" href="/"><img src="/images/Home.png" alt="Home"></a></div>
        <div style="position:absolute;left:160px;top:-102px;"><a href="mailto:sales@sinobronze.com"><img src="/images/EmailToUs.png"></a></div>
