<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <meta name="Keywords" content="<%= @meta_keywords %>">
  <meta name="Description" content="<%= @meta_description %>">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
  <body>
    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "Sino Bronze MFG Co., Ltd.", root_path, :class => "navbar-brand" %>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav" style="float:right">
            <li><%= link_to image_tag('/images/home.jpg', :size => "30x30", :style => "margin-top:10px;"), root_path, :style => "padding:0px" %></li>
            <%= content_tag(:li, link_to("Products", products_path)) %>
            <li><a href="#about">About</a></li>
            <li><a href="#products">News</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


    <div class="container">
    <div class="row">
      <div class="col-sm-4" style="padding-right:0px;">
      <div><%= image_tag "logo.png" %></div>
      <div><input type="text"  style="width:230px; display:inline;margin-right:5px;" class="form-control" placeholder="Enter Product"/><input class="btn btn-primary btn-sm" type="button" value="search" /></div>
      </div>
      <div class="col-sm-8" style="padding-left:<%= @user_agent == "firefox" ? '7px' : '11px' %>;padding-right:0px;"> 
        <%= image_tag "header.png", :size => "635x142" %>
      </div>
    </div>
    </div>
      <%= yield %>
      <div class="container">
    <div  class="row" style="margin-top:15px;">
    <div class="col-sm-4" style="padding-right:0px;">
        <div class="card footer_item">
          <div class="card-block">
            <h4 class="card-title" style="border-bottom: 1px solid #fff;">Navigation</h4>
            <ul class="nav">
              <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Another link</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#">Disabled</a>
                </li>
        </ul>
          </div>
        </div>
    </div>
        <div class="col-sm-4" >
<div class="card footer_item">
  <div class="card-block">
    <h4 class="card-title" style="border-bottom: 1px solid #fff;">Products</h4>
    <ul class="nav">
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Another link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li>
</ul>
  </div>
</div>
    </div>
        <div class="col-sm-4" style="padding-left:0px;">
<div class="card footer_item">
  <div class="card-block">
    <h4 class="card-header"  style="border-bottom: 1px solid #fff;">Contact </h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <span class="glyphicon glyphicon-search"></span>
<i class="fa fa-camera-retro fa-lg"></i>
<i class="fa fa-home fa-lg" style="color:#000"></i>
<i class="fa fa-phone fa-lg" style="color:#ccc"></i>
<i class="fa fa-fax fa-lg" style="color:#ccc"></i> 
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
  <div class="card-block">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
    </div>
    </div>
    </div>


  </body>

  </body>
</html>
