<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <meta name="Keywords" content="<%= @meta_keywords %>">
  <meta name="Description" content="<%= @meta_description %>">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
  <body>
    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div style="padding-top:10px;">
          <%= form_tag('/products', method: 'get') do %>
         <input type="text"  style="width:170px; display:inline;margin-right:5px;" class="form-control" placeholder="Enter Product" name="q"/><input class="btn btn-primary btn-sm" type="submit" value="search" style="margin-top:-7px" />
         <% end %>
          </div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav" style="float:right">
            <li><%= link_to image_tag('/images/home.png', :size => "30x30", :style => "margin-top:10px;"), root_path, :style => "padding:0px" %></li>
            <%= content_tag(:li, link_to("Products", products_path)) %>
            <li><%= link_to "BronzeAlloys", materials_path %></li>
            <li><%= link_to "About", about_us_path %></li>
            <li><%= link_to("News", news_index_path) %></li>
            <li><%= link_to "Q & C", qc_path %></li>
            <li><%= link_to "Contact", contact_path %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


    <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <%= image_tag "/images/banner-8.2.jpg", :style => "width:955px" %>
      </div>
    </div>
    </div>
      <%= yield %>
<div style="height:10px;"></div>
<div class="navbar navbar-fixed-bottom footer">
  <div class="container" style="color:#ffffff">
    <div class="row">
      <div class="col-sm-2" style="padding-right:0px">
        <div style="padding-top:20px;">
        <%= image_tag('/images/email.png', :size => "15x15") %><span>sales@sinobronze.com</span>
        </div>
      </div>
      <div class="col-sm-2" style="padding-right:0px">
        <div style="padding-top:20px;">
        <%= image_tag('/images/telephone.png', :size => "15x15", :style=>"margin-top:-2px") %><span>0086 28 8669 3910</span>
        </div>
      </div>
      <div class="col-sm-2">
        <div style="padding-top:20px;">
        <%= image_tag('/images/sitemap.png', :size => "15x15") %><span><%= link_to "Sitemap", sitemap_path, :style=>"color:#ffffff" %></span>
        </div>
      </div>
      <div class="col-sm-4"><div style="padding-top:20px;text-align:right;">SINOBRONZE MFG CO., LTD. 2008</div>
      </div>
      <div class="col-sm-2">
        <div style="padding-top:20px;" style="position:relative" id="v_container">
        &reg; All Rights Reserved
        </div>
      </div>
    </div>
  </div>
</div>
  <%= javascript_include_tag 'scroll_top/arrow92', 'data-turbolinks-track' => true %>
  </body>
</html>
